@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Yuji+Mai&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    overflow-x: hidden;
    background:whitesmoke;
}

.menu-bar {
    position: absolute;
    height: 600px;
    width: 360px;
    background:white;
    border-radius: 10px;
    z-index: 999;
    opacity: 0; 
    transform: translateX(-100%);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; 
    pointer-events: none; 
}

.menu-bar.show {
    opacity: 1; 
    transform: translateX(0); 
    pointer-events: all; 
}

.menu-bar ul {
    list-style-type: none;
    font-size: 1.2rem;
}

.menu-bar li {
    margin-top: 40px;
    margin-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.menu-bar li:hover{
    color:#00000073
}

.menu-bar li:nth-last-of-type(6) {
    margin-top: 0px;
}

.menu-bar i {
    font-size: 1.9rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    cursor: pointer;
}

.fa-bars {
    font-size: 1.5rem;
    cursor: pointer;
}

.line{
    position: relative;
    height:35px;
    background: white;
    overflow: hidden;
}

.line-content{
    display: flex;
    position: absolute;
    gap:80px;
    background: white;
    color:black;
    padding:6px;
    z-index: 99;
    animation-name: navAnimation;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.content{
    white-space: nowrap;
}

.content p{
    font-size:0.8rem;
    font-family: "Playfair Display", serif;
}

@keyframes navAnimation {
    0%{
        left:0%;
    }
    100%{
        left:-100%;
    }
}

.swiperdiv{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height:35px;
    max-width: 100%;
    overflow-x: hidden;
    background: black;
    color:white;
    gap:1vw;
}

.swiper {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #0000;
    display: flex;
    height: 100%;
    width:100%;
    align-content: center;
    color:white;
    padding:0px;
    cursor: pointer;
    font-size:0.9rem;
}


.swiperdiv i{
    cursor: pointer;
    display: flex;
    margin-bottom:8px;
}

.swiperdiv i:nth-last-of-type(1){
    margin-right:80px;
}

.anotherdiv{
    display:flex;
    height:120px;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.anotherdiv .fa-bars{
    font-size: 1.9rem;
    margin-left:50px;
    display: none;
}

.anotherdiv li{
    display:flex;
    margin-left:40px;
    margin-bottom:10px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 10px;
    padding:5px;
}

.anotherdiv li:hover{
    color:#6c6c6c;
    background: gold ;
}

.anotherdiv ul{
    list-style-type: none;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    width:70%;  
}

.anotherdiv img{
    width:120px;
}

.icons {
    display: flex;
    gap:1.3vw;
}

.icons i {
    cursor: pointer;
}

.icons i:nth-last-of-type(1){
    margin-right: 15px;
}

.maindiv{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100%;
    overflow: hidden;
}

.mySwiper2 {
    width:100%;
}

.mySwiper2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mySwiper2 .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid black;
}

.mySwiper2 .swiper-pagination-bullet-active {
    background:black;
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container h1{
    position: absolute;
    top:50px;
    left:70px;
    font-size: 2.1rem;
}

.box{
    height:575px;
    width:300px;
    border-radius: 30px;
    margin-top: 150px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
}

.box img{
    height:460px;
    width:300px;
    object-fit: cover;
    border-radius: 30px;
    transition: all ease 0.8s;
}

.box img:hover{
    -webkit-box-shadow: 0px 20px 19px -1px rgba(209,209,209,1);
    -moz-box-shadow: 0px 20px 19px -1px rgba(209,209,209,1);
    box-shadow: 0px 20px 19px -1px rgba(209,209,209,1);
    transform: scale(0.9);
}

.box p:nth-last-of-type(1){
    font-size:1.2rem;
    font-weight: 400;
    margin-top: 10px;
}

.box button{
    height:30px;
    width:120px;
    color:black;
    border-radius: 10px;
    font-weight: 700;
    border:1px solid #0000002f;
    transition: all ease 0.5s;
    cursor: pointer;
    background: white;
    margin-top: 10px;
}

.box button:hover{
    background:black;
    color:white;
}

@media(max-width:1200px){
    .box{
        height:560px;
        width:300px;
        border-radius: 30px;
        margin-top: 150px;
        margin-left: 10px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 800;
    }
    .box:nth-last-of-type(1){
        margin-top: 40px;
    }
}

@media(max-width:1100px){
    .maindiv img {
        object-position: center;   
    }

    .box{
        height:560px;
        width:300px;
        border-radius: 30px;
        margin-top: 150px;
        margin-left: 10px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 800;
    }
    .box:nth-last-of-type(1){
        margin-top: 40px;
    }
    .anotherdiv ul{
        width:80%;
        margin-left: -70px;  
    }
}

@media(max-width:966px){
    .box{
        height:560px;
        width:300px;
        border-radius: 30px;
        margin-top: 150px;
        margin-left: 0px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 800;
    }
    .box:nth-last-of-type(1){
        margin-top: 40px;
    }
    .anotherdiv ul{
        width:80%;
        margin-left: -70px;  
    }

    .anotherdiv li{
        font-size: 1.0rem;
    }
}

@media(max-width:901px){
    .box{
        height:560px;
        width:300px;
        border-radius: 30px;
        margin-top: 150px;
        margin-left: 20px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 800;
    }
    .box:nth-last-of-type(1){
        margin-top: 40px;
    }

    .box:nth-last-of-type(2){
        margin-top: 40px;
    }

    .anotherdiv li{
        display: none;
    }

    .anotherdiv img{
        width:180px;
        margin-left: 0px;
    }

    .icons i:nth-last-of-type(1){
        margin-right: 75px;
    }

    .anotherdiv .fa-bars{
        display: block;
    }
 
}

@media(max-width:628px){
    .box{
        height:560px;
        width:300px;
        border-radius: 30px;
        margin-top: 150px;
        margin-left: 20px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 800;
    }
    .box:nth-last-of-type(1){
        margin-top: 40px;
    }

    .box:nth-last-of-type(2){
        margin-top: 40px;
    }

    .box:nth-last-of-type(3){
        margin-top: 40px;
    }
    .container h1{
        top:50px;
        left:145px;
    }

}

@media(max-width:361px){
    .swiperdiv i:nth-last-of-type(1){
        margin-right:20px;
    }

    .swiperdiv i{
        font-size: 0.8rem;
        margin-left:6px;
    }

    .box{
        height:560px;
        width:300px;
        border-radius: 30px;
        margin-top: 150px;
        margin-left: 0px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 800;
    }
    .box:nth-last-of-type(1){
        margin-top: 40px;
    }

    .box:nth-last-of-type(2){
        margin-top: 40px;
    }

    .box:nth-last-of-type(3){
        margin-top: 40px;
    }

    .anotherdiv{
        height:80px;
    }

    .anotherdiv .fa-bars{
        margin-left: 20px;
        font-size:1.1rem;
    }

    .icons{
        gap:10px;
    }

    .icons i{
        font-size: 0.8rem;
    }

    .icons i:nth-last-of-type(1){
        margin-right: 20px;
    }

    .anotherdiv img{
        width:100px;  
    }
    .container h1{
        top:50px;
        left:40px;
    }
}


